@charset "utf-8";
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{cursor: none;}
html{scroll-behavior: smooth;} 
body{
  cursor: none; width: 100vw;
  background:#f6f4f0; color: #333; font-family: 'Noto Sans KR', Arial, Georgia,  "맑은 고딕", "Malgun Gothic", sans-serif;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes circleRound{
  20%{ transform: translate(10px, 10px); }
  45%{ transform: translate(0px, 20px); }
  75%{ transform: translate(-10px, 10px); }
  100%{ transform: translate(0px, 0px); }
}
.cursor{ position: fixed; z-index: 10000; width: 30px; height: 30px; border-radius: 50%; background-color: teal;
  transition: width 0.3s, height 0.3s, background-color 0.3s, border 0.2s; }
.cursor.into{ width: 100px; height: 100px; border: 1px solid rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.3)}

header { position: fixed; z-index: 999; background-color: transparent; width:100%; height: 500px; transition: height 0.5s;}
header.sm { height: 70px; border-bottom: 1px solid rgba(0,0,0,0.1);} 
header .main-logo{ max-width:800px; width: 80%; position: absolute; left: 50%; top: 180px; transform: translateX(-50%); transition: all 0.5s;}
header .main-logo.sm{ width:150px; position: absolute; top: 5px; left: 50%; transform: translateX(-50%);}
header .header-left-menu{float: left;}
header .header-right-menu{float: right; }
header .gnb-wrap{ margin: 19px 100px; font-size: 0;}
.gnb-wrap .gnb-item{ display: inline-block; color: #f09e32; font-size: 25px; font-weight: 700;}
.header-left-menu .gnb-wrap .gnb-item{ margin-right:100px;}
.header-right-menu .gnb-wrap .gnb-item{ margin-left:100px;}

section { position: relative; max-width: 1921px; margin: auto; min-height: 100vh; padding-top: 100px;}
.section-title{font-size: 50px; font-weight: 900;}
.section-subtitle{font-size: 25px; font-weight: 700;}

#hero{ height: 1500px; margin-bottom: 500px;}
#hero .hero-circle{ position: absolute;}
#hero .hero-circle.circle-big{ width:360px; height: 360px; border-radius: 50%;
  top: 25%; left:20%;  background-color: #f8b039; animation: circleRound 3.5s linear infinite;}
#hero .hero-circle.circle-sm{ width:200px; height: 200px; border-radius: 50%;
  top: 7%; right: 25%; background-color: #459485; animation: circleRound 3.3s linear reverse infinite;}
#hero .hero-text{ position: absolute; top:40%; left: 18.5%; font-size: 23px; font-weight: bold;}
.greeting-text{opacity: 0; transition: opacity 1s; width: 100%; text-align: center; font-size: 5.5vw; font-weight: 900; letter-spacing: -1px;
  word-spacing: -6px; position: absolute; bottom: 0;}

#about{opacity: 0; transition: opacity 1s; margin-bottom: 300px;}
#about .about-text-box{width: 45%; max-width: 500px; position: absolute; z-index: 3; top: 25%; right: 53%; line-height: 1.8;}
.about-txt-box .about-description{ margin-top: 10px; color: #534b4b;}
#about .my-photo-wrap{ float: right; width: 50%; position: absolute; right: 0; overflow: hidden;}

#skill {height: 1500px; margin-bottom: 300px;}
#skill .my-skill{ position: absolute; background-repeat: no-repeat; background-position: center; background-size: cover; }
#skill .skill-text{ display: block; position: absolute; }
.skill-text .skill-title{ color:#e4e4e4; line-height: 1; font-size: 42px; font-weight: 700;}
.skill-text .skill-desc{ font-size: 18px; font-weight: 500;}
#skill .skill-css{ z-index: 0; top: 231px; left: 59%; width: 200px; height: 200px; border-radius: 50%;
  background-color: #6fbee0;}
#skill .css-text{ left: 25px; top: 10px;}
#skill .skill-html{ z-index: 1; bottom: 28px; left: 0; width: 50%; height: 700px;
  background: url(../images/sunset1.jpg)no-repeat right bottom / cover; }
#skill .html-text{ left: 20px; bottom: 10%;}
#skill .skill-vue{
  z-index: 2;
  top: 420px;
  left: 35%;
  min-width: 400px;
  width: 30%; height: 600px;
  background: url(../images/vue.jpg)no-repeat right 0px / cover; } 
#skill .vue-text{ right: 20px; bottom: 30%;}
#skill .skill-js{ z-index: 3; top: 194px; left: 15%; min-width: 550px;
  width: 40%; height: 500px;
  background: url(../images/js.jpg)no-repeat right bottom / cover; } 
#skill .js-text{ left: 47%; bottom: 18%;}

#portfolio .portfolio-title-box{ position: relative; z-index: -1; font-size: 11vw; font-weight: 900; letter-spacing: -1px;}
.portfolio-title-box .portfolio-sub-title{ position: absolute; font-size: 5vw; font-weight: 900; }
.portfolio-title-box .portfolio-title{ opacity: 0.9; position: absolute; top: 0; color: #f8b039;}
#portfolio .swiper-container{ width: 55%; height: 700px; position: absolute; bottom: 0; right: 0;}

#portfolio .portfolio1{ background-color: #df514c; }
#portfolio .portfolio2{ background-color: #f3cb17; }
#portfolio .portfolio3{ background-color: #459485; }

#contact {}
#contact .mail-address{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 5vw; font-weight: 900;}

footer{ width: 100%; height: 100px; border-top: 1px solid #333333;}


@media (min-width: 1271px) {
  header .gnb-M{ display: none;}
}
@media (max-width: 1272px) { 
  *{cursor: auto;} .cursor{display: none;}
  header .gnb-wrap{ display: none;}
  header .gnb-M{ display: block;}
  #hero .hero-text{ top: 35%; }
  .mailto-M{ position: absolute; z-index:999; top: 18px; left: 18px;}
  .gnb-M-btn{ width: 38px; height: 26px; position: absolute; z-index:999; top: 18px; right: 18px;}
  .gnb-M-btn .gnb-M-btn-line{ position: absolute; width: 100%; border: 2px solid #333333; transition: all .3s;}
  .gnb-M-btn-line.line1{ top:0;}
  .gnb-M-btn-line.line2{ width:80%; top:12px; right: 0;}
  .gnb-M-btn-line.line3{ top:24px;}

  .gnb-M-btn.hover .gnb-M-btn-line{ border-color: #f09e32;}
  .gnb-M-btn.hover .gnb-M-btn-line.line1,
  .gnb-M-btn.hover .gnb-M-btn-line.line3{ width:80%; right: 0;}
  .gnb-M-btn.hover .gnb-M-btn-line.line2{ width: 100%;}

  .gnb-M-btn.click .gnb-M-btn-line{ border-color: #f09e32;}
  .gnb-M-btn.click .gnb-M-btn-line.line1{ top: 12px; transform: rotate(45deg);}
  .gnb-M-btn.click .gnb-M-btn-line.line2{ width: 100%; opacity: 0;}
  .gnb-M-btn.click .gnb-M-btn-line.line3{ top: 12px; transform: rotate(-45deg);}

  .gnb-M-container{display: none; position: fixed; top:0; left: 0; right: 0; bottom: 0; background: rgba(51,51,51,0.98);}
  .gnb-M-container .gnb-M-wrap{ position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: #fafafa;}
  .gnb-M-wrap .gnb-M-item{ margin-top: 100px;}
  .gnb-M-wrap .gnb-M-item:first-child{margin-top: 0;}
}
@media (max-width: 768px) {
  #hero, #about, #skill{ height: 1000px; margin-bottom: 300px;} 
  #hero .hero-text{ top: 430px; left: 12%;}
  .greeting-text{ font-size: 52px;}
  #about .about-text-box{width: 77%; top: 0; left: 10px;}
  .about-text-box .mobile-circle{position: absolute; z-index: -1; bottom: 0; right: 0; width: 200px; height: 200px; border-radius: 50%; background-color: #f6f4f0;}
  #about .my-photo-wrap{ width: 60%; margin-top: 130px; max-width: 500px;}
  
}